argcomplete==3.4.0
catkin-pkg==1.0.0
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.1.1
colcon-cmake==0.2.28
colcon-common-extensions==0.3.0
colcon-core==0.17.1
colcon-defaults==0.2.8
colcon-devtools==0.3.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
coverage==7.6.1
distlib==0.3.8
docutils==0.21.2
empy==3.3.4
iniconfig==2.0.0
notify2==0.3.1
packaging==24.1
pluggy==1.5.0
pyparsing==3.1.2
pytest==8.3.2
pytest-cov==5.0.0
pytest-repeat==0.9.3
pytest-rerunfailures==14.0
python-dateutil==2.9.0.post0
PyYAML==6.0.1
six==1.16.0
vcstool==0.3.0
